    {% if client_places.count() %}
        {% for client_place in client_places %}
            <p>
            {{ client_place.group_client_places_client_place.name }} : <b>{{ client_place.name }}</b>
{#            <b><a href="{{ url_for('group_client_places', slug=group_client_places.slug) }}">{{ group_client_places.name }}</a></b>#}
            <a href="{{ url_for('edit_client_place', slug=client_place.slug) }}">Edit</a>
            </p>
        {% endfor %}
    {% else %}
        <b><p> No client places </p></b>
    {% endif %}