{#v 0.0.2#}
{% if form_client_place %}
    <form action="" method="post" novalidate>
        {{ form_client_place.hidden_tag() }}
        <p>
            {{ form_client_place.name_client_place.label }}<br>
            {{ form_client_place.name_client_place(size=32) }}<br>
            {% for error in form_client_place.name_client_place.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form_client_place.group_client_places.label }}<br>
            {{ form_client_place.group_client_places }}<br>
            {% for error in form_client_place.group_client_places.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form_client_place.submit_client_place() }}</p>
    </form>
{% endif %}
