{% if groups_client_places.count() %}
    {% for group_client_places in groups_client_places %}
        <p>
        {{ group_client_places.company_group_client_places.name }} :
        <b><a href="{{ url_for('group_client_places', slug=group_client_places.slug) }}">{{ group_client_places.name }}</a></b>
        <a href="{{ url_for('edit_group_client_places', slug=group_client_places.slug) }}">Edit</a>
        </p>
    {% endfor %}
{% else %}
    <b><p> No groups client places </p></b>
{% endif %}