{% if (client_places_with_current_user or
        client_places_without or
        client_places_for_admin) %}

    {% if client_places_with_current_user %}
        {% for client_place_with in client_places_with_current_user %}
            <p>
                <a href="{{ url_for('client_place', client_place_slug_to_id=client_place_with.slug) }}">
                    {{ client_place_with.id }}</a> {{ client_place_with.name }}

                -

                <a href="{{ url_for('remove_by_myself_relationship_to_client_place',
                client_place_slug_to_id=client_place_with.slug, next=request.path) }}">Disconnect</a>
            </p>
        {% endfor %}
    {% endif %}

    {% if client_places_without %}
        {% for client_place_without in client_places_without %}
            <p>
                <a href="{{ url_for('client_place', client_place_slug_to_id=client_place_without.slug) }}">
                    {{ client_place_without.id }}</a>
                {{ client_place_without.name }}

                -

            <a href="{{ url_for('create_by_myself_relationship_to_client_place',
                client_place_slug_to_id=client_place_without.slug, next=request.path) }}">Connect</a>
            </p>
        {% endfor %}
    {% endif %}

    {% if client_places_for_admin %}
        {% for client_place_admin in client_places_for_admin %}
            <p>
                <a href="{{ url_for('client_place', client_place_slug_to_id=client_place_admin.slug) }}">
                    {{ client_place_admin.id }}</a> {{ client_place_admin.name }}
            </p>
        {% endfor %}
    {% endif %}


{% else %}
    <span> <i>is not client place</i> </span>
{% endif %}