{% from "macros.html" import objs_1_to_obj_2 %}
{% if obj_s_1_with_obj_2 or
        obj_s_1_without_obj_2 or
        obj_s_1_for_another_obj %}

    {% if obj_s_1_with_obj_2 %}
        {{ objs_1_to_obj_2 (obj_s_1_with_obj_2, obj_1_route,
                            obj_1_route_arg_1_key=obj_1_route_arg_1_key,
                            action_route=remove_route,
                            obj_2_slag=the_employee_slug,
                            obj_2_action_route_arg_2_key=obj_2_action_route_arg_2_key,
                            anchor_action_links='Disconnect',
                            add_anchor_action_links=add_anchor_action_links) }}
    {% endif %}

    {% if obj_s_1_without_obj_2 %}
        {{ objs_1_to_obj_2 (obj_s_1_without_obj_2, obj_1_route,
                            obj_1_route_arg_1_key=obj_1_route_arg_1_key,
                            action_route=create_route,
                            obj_2_slag=the_employee_slug,
                            obj_2_action_route_arg_2_key=obj_2_action_route_arg_2_key,
                            anchor_action_links='Connect',
                            add_anchor_action_links=add_anchor_action_links) }}
    {% endif %}

    {% if obj_s_1_for_another_obj %}
        {{ objs_1_to_obj_2 (obj_s_1_for_another_obj, obj_1_route,
                            obj_1_route_arg_1_key=obj_1_route_arg_1_key) }}
    {% endif %}

{% else %}
    <span> <i>is not {{ obj_1_name }}</i> </span>
{% endif %}