{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ url_for('static', filename='qr_codes/0a8edb8db75642f994af67380b0e3d13.png') }}" /></td>
            <td>
                <h1>Company: {{ company.name }}</h1>
                {% if company.about %}<p>{{ company.about }}</p>{% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{  url_for('edit_company', company_slug_to_id=company.slug) }}">Edit</a>
            </td>
            <td>
                <a href="{{  url_for('remove_company', company_slug_to_id=company.slug, next=request.path) }}">Delete</a>
            </td>
        </tr>
    </table>

    <hr>

    <h3> Groups client places </h3>

    {% with obj_s_1_with_obj_2=groups_client_places_with_this_employee,
            obj_s_1_without_obj_2=groups_client_places_without,
            obj_s_1_for_another_obj=groups_client_places_for_admin,
            obj_1_route='group_client_places',
            obj_1_route_arg_1_key='group_client_places_slug_to_id',
            obj_2_action_route_arg_2_key='employee_slug_to_id',
            remove_route='remove_relationship_emp_to_grp_cln_plcs',
            create_route='create_relationship_emp_to_grp_cln_plcs',
            obj_1_name='group client places',
            add_anchor_action_links='me',
            obj_1_description_attr_name='name' %}

        {% include '_objs_1_with_relationship_to_obj_2.html' %}

    {% endwith %}

    <p>
        <a href="{{ url_for('create_group_client_places_view',
        company_slug_to_id=company.slug,
        next=request.path) }}">Create new group client places</a> in {{ company.name }}
    </p>

    <h3> Client places </h3>

        {% with obj_s_1_with_obj_2=client_places_with_this_employee,
            obj_s_1_without_obj_2=client_places_without,
            obj_s_1_for_another_obj=client_places_for_admin,
            obj_1_route='client_place',
            obj_1_route_arg_1_key='client_place_slug_to_id',
            obj_2_action_route_arg_2_key='employee_slug_to_id',
            remove_route='remove_relationship_emp_to_cln_plc',
            create_route='create_relationship_emp_to_cln_plc',
            obj_1_name='client place',
            add_anchor_action_links='me',
            obj_1_description_attr_name='name' %}

        {% include '_objs_1_with_relationship_to_obj_2.html' %}

    {% endwith %}

    <p>
        <a href="{{ url_for('create_client_place_view',
        company_slug_to_id=company.slug,
        next=request.path) }}">Create new client place</a> in {{ company.name }}
    </p>

    <h3> Employees </h3>
    {% include '_info_employees.html' %}
    <p>
        <a href="{{ url_for('create_employee_view',
        company_slug_to_id=company.slug,
        next=request.path) }}">Create new employee</a> in {{ company.name }}
    </p>
{% endblock %}