        {% if form %}
    <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.name_company.label }}<br>
        {{ form.name_company(size=32) }}<br>
        {% for error in form.name_company.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.about.label }}<br>
        {{ form.about(cols=50, rows=4) }}<br>
        {% for error in form.about.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for company in companys %}
        <p>
        {{ company.creator.username }} :
        <b><a href="{{ url_for('company', slug=company.slug) }}">{{ company.name_company }}</a></b>
        <a href="{{ url_for('edit_company', slug=company.slug) }}">Edit</a>

        </p>
    {% endfor %}


    {% if companys.count() %}
        {% for company in companys %}
            <p>
    {#        {{ company.creator.username }} :#}
            <b><a href="{{ url_for('company', slug=company.slug) }}">{{ company.name_company }}</a></b>
    {#        <a href="{{ url_for('edit_company', slug=company.slug) }}">Edit</a>#}
            </p>
        {% endfor %}
    {% else %}
        <b><p> No company </p></b>
    {% endif %}
    <hr>

    <b><p> Create a new company </p></b>

    {% for group_client_places in groups_client_places %}
        <p>
        {{ group_client_places.company_group_client_places.name }} : <b>{{ group_client_places.name }}</b>
        </p>
    {% endfor %}
    {% if form %}
    <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.name_company.label }}<br>
        {{ form.name_company(size=32) }}<br>
        {% for error in form.name_company.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.about.label }}<br>
        {{ form.about(cols=50, rows=4) }}<br>
        {% for error in form.about.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
{#    <input type="button" value="Print" onclick="print()"></input>#}

    {% for client_place in client_places %}
        <p>
        {{ client_place.company_client_place.name }} : <b>{{ client_place.name }}</b>
        </p>
    {% endfor %}
