{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ url_for('static', filename='qr_codes/0a8edb8db75642f994af67380b0e3d13.png') }}" /></td>
            <td>
                <h1>Corporation: {{ corporation.name }}</h1>
                {% if corporation.about %}<p>{{ corporation.about }}</p>{% endif %}
            </td>
        </tr>
    </table>

    <hr>

    <h3> Companies </h3>
    {% include '_info_companies.html' %}
    <p>
        <a href="{{ url_for('create_company_view',
        corporation_slug_to_id=corporation.slug,
        next=request.path) }}">Create new company</a> in {{ corporation.name }}
    </p>

    <h3> Admins </h3>
    {% include '_info_admins.html' %}
    <p>
        <a href="{{ url_for('create_admin_view',
        corporation_slug_to_id=corporation.slug,
        next=request.path) }}">Create new admin</a> of {{ corporation.name }}
    </p>
{% endblock %}