{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ url_for('static', filename='qr_codes/0a8edb8db75642f994af67380b0e3d13.png') }}"/></td>
            <td>
                <h1>{{ the_employee.role.name }} of {{ company.name }}</h1>
                {% if the_employee.about %}<p>{{ the_employee.about }}</p>{% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url_for('edit_employee', employee_slug_to_id=the_employee.slug) }}">Edit</a>
            </td>
            <td>
                <a href="{{  url_for('remove_employee', employee_slug_to_id=the_employee.slug, next=request.path) }}">Delete</a>
            </td>
        </tr>
    </table>

    <hr>

    <h3> Groups client places </h3>
    {% with obj_s_1_with_obj_2=groups_client_places_with_this_employee,
            obj_s_1_without_obj_2=groups_client_places_without,
            obj_s_1_for_another_obj=groups_client_places_for_admin,
            obj_1_route='group_client_places',
            obj_1_description_attr_name='name',
            obj_1_description_attr_name1_name=None,
            obj_1_route_arg_1_key='group_client_places_slug_to_id',
            obj_2_slug=the_employee_slug,
            obj_2_action_route_arg_2_key='employee_slug_to_id',
            remove_route='remove_relationship_emp_to_grp_cln_plcs',
            create_route='create_relationship_emp_to_grp_cln_plcs',
            obj_1_name='group client places',
            add_anchor_action_links='' %}

        {% include '_objs_1_with_relationship_to_obj_2.html' %}

    {% endwith %}

     <h3> Client places </h3>
    {% with obj_s_1_with_obj_2=client_places_with_this_employee,
            obj_s_1_without_obj_2=client_places_without,
            obj_s_1_for_another_obj=client_places_for_admin,
            obj_1_route='client_place',
            obj_1_description_attr_name='name',
            obj_1_description_attr_name1_name=None,
            obj_1_route_arg_1_key='client_place_slug_to_id',
            obj_2_slug=the_employee_slug,
            obj_2_action_route_arg_2_key='employee_slug_to_id',
            remove_route='remove_relationship_emp_to_cln_plc',
            create_route='create_relationship_emp_to_cln_plc',
            obj_1_name='client place',
            add_anchor_action_links='' %}

        {% include '_objs_1_with_relationship_to_obj_2.html' %}

        {% endwith %}


    <h3> ID </h3>
    {{ the_employee_id }}

    <h3> First name </h3>
    {{ the_employee.first_name }}

    <h3> Last name </h3>
    {{ the_employee.last_name }}

    <h3> Email </h3>
    {% if the_employee.email %}<p>{{ the_employee.email }}</p>{% else %}<p> - </p>{% endif %}

    <h3> Telegram </h3>

    {% if the_employee.telegram_chat_id %} {{ the_employee.telegram_chat_id }}
    {% elif valid_myself %} link
{#        todo END !!!!!#}
    {% else %}<p> - </p>{% endif %}

    <h3> Phone </h3>
    {% if the_employee.phone %}<p>{{ the_employee.phone }}</p>{% else %}<p> - </p>{% endif %}


    <h3> Username </h3>
    {{ the_employee.user.username }}

    <h3> User ID </h3>
    {{ the_employee.user_id }}

{% endblock %}