{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ url_for('static', filename='qr_codes/0a8edb8db75642f994af67380b0e3d13.png') }}"/></td>
            <td>
                <h1>{{ the_employee.role.name }} of {{ company.name }}</h1>
                {% if the_employee.about %}<p>{{ the_employee.about }}</p>{% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url_for('edit_employee', employee_slug_to_id=the_employee.slug) }}">Edit</a>
            </td>
            <td>
                <a href="{{  url_for('remove_employee', employee_slug_to_id=the_employee.slug, next=request.path) }}">Delete</a>
            </td>
        </tr>
    </table>

    <hr>

    <h3> Groups client places </h3>
    {% include '_info_groups_client_places_with.html' %}

     <h3> Client places </h3>
    {% include '_info_client_places_with.html' %}

    <h3> ID </h3>
    {{ the_employee_id }}

    <h3> First name </h3>
    {{ the_employee.first_name }}

    <h3> Last name </h3>
    {{ the_employee.last_name }}

    <h3> Email </h3>
    {% if the_employee.email %}<p>{{ the_employee.email }}</p>{% else %}<p> - </p>{% endif %}

    <h3> Phone </h3>
    {% if the_employee.phone %}<p>{{ the_employee.phone }}</p>{% else %}<p> - </p>{% endif %}


    <h3> Username </h3>
    {{ the_employee.user.username }}

    <h3> User ID </h3>
    {{ the_employee.user_id }}

{% endblock %}