{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ url_for('static', filename='qr_codes/0a8edb8db75642f994af67380b0e3d13.png') }}" /></td>
            <td>
                <h1>Group client places: {{ group_client_places.name }}</h1>
                {% if group_client_places.about %}<p>{{ group_client_places.about }}</p>{% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{  url_for('edit_group_client_places',
                group_client_places_slug_to_id=group_client_places.slug) }}">Edit</a>
            </td>
            <td>
                <a href="{{  url_for('remove_group_client_places', group_client_places_slug_to_id=group_client_places.slug, next=request.path) }}">Delete</a>
            </td>
        </tr>
    </table>

    <hr>

    <h3> Client places </h3>
{#    {% include '_info_client_places.html' %}#}
    {% with obj_s_1_with_obj_2=client_places_with_this_gcp,
            obj_s_1_without_obj_2=client_places_without,
            obj_s_1_for_another_obj=client_places_for_company,
            obj_1_route='client_place',
            obj_1_description_attr_name='name',
            obj_1_description_attr_name1_name=None,
            obj_1_route_arg_1_key='client_place_slug_to_id',
            obj_2_slug=group_client_places_slug,
            obj_2_action_route_arg_2_key='group_client_places_slug_to_id',
            remove_route='remove_relationship_gcp_to_cln_plc',
            create_route='create_relationship_gcp_to_cln_plc',
            obj_1_name='client_place',
            add_anchor_action_links='' %}

            {% include '_objs_1_with_relationship_to_obj_2.html' %}

        {% endwith %}

    <h3> Employees </h3>
    {% with obj_s_1_with_obj_2=employees_with_this_gcp,
            obj_s_1_without_obj_2=employees_without,
            obj_s_1_for_another_obj=employees_for_company,
            obj_1_route='employee',
            obj_1_description_attr_name='first_name',
            obj_1_description_attr_name1_name=None,
            obj_1_route_arg_1_key='employee_slug_to_id',
            obj_2_slug=group_client_places_slug,
            obj_2_action_route_arg_2_key='group_client_places_slug_to_id',
            remove_route='remove_relationship_emp_to_grp_cln_plcs',
            create_route='create_relationship_emp_to_grp_cln_plcs',
            obj_1_name='employee',
            add_anchor_action_links='' %}

        {% include '_objs_1_with_relationship_to_obj_2.html' %}

    {% endwith %}

{% endblock %}