{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ qrcode('https://marcoagner.github.io/Flask-QRcode/', box_size=4) }}"></td>
            <td>
                <h1>Group: {{ group_client_places.name }}</h1>
                <a href="{{ url_for('edit_group_client_places', slug=group_client_places.slug) }}">Edit</a>


            </td>
        </tr>
    </table>
    <hr>
{#        {% if form %}#}
{#    <form action="" method="post" novalidate>#}
{#    {{ form.hidden_tag() }}#}
{#    <p>#}
{#        {{ form.name.label }}<br>#}
{#        {{ form.name(size=32) }}<br>#}
{#        {% for error in form.name.errors %}#}
{#        <span style="color: red;">[{{ error }}]</span>#}
{#        {% endfor %}#}
{#    </p>#}
{#    <p>{{ form.submit() }}</p>#}
{#    </form>#}
{#    {% endif %}#}
     {% for client_place in client_places %}
        <p>
        {{ client_place.group_client_places_client_place.name }} : <b>{{ client_place.name }}</b>
        </p>
    {% endfor %}
    <hr>
    <h3> Client places </h3>
    {% include '_choice_client_places.html' %}
{% endblock %}