{% macro objs_1_to_obj_2(objs_1, obj_1_route,
                         obj_1_description_attr_name=None,
                         obj_1_description_attr_name1_name=None,
                         obj_1_route_arg_1_key=None,
                         action_route=None,
                         obj_2_slug=None,
                         obj_2_action_route_arg_2_key=None,
                         anchor_action_links='Action without name',
                         add_anchor_action_links=None,
                         next_path=request.path,
                         sep_space=False,
                         sep_line=False) %}

    {% if add_anchor_action_links %}
        {% set anchor_action_links = anchor_action_links + ' ' + add_anchor_action_links %}
    {% endif %}

    <div>
        {% for obj_1 in objs_1 %}

            {% set obj_1_route_kwargs = {obj_1_route_arg_1_key: obj_1.slug} %}

            {% set obj_1_action_route_kwargs = {obj_1_route_arg_1_key: obj_1.slug,
                                                    obj_2_action_route_arg_2_key: obj_2_slug,
                                                    'next': next_path} %}
            <p>
                <a href="{{ url_for(obj_1_route, **obj_1_route_kwargs) }}">
                    {{ obj_1.id }}</a>
                {% if obj_1_description_attr_name1_name != None %}
                    {{ obj_1[obj_1_description_attr_name]|attr(obj_1_description_attr_name1_name) }}
                {% else %}
                    {{ obj_1[obj_1_description_attr_name] }}
                {% endif %}

                {% if action_route %}
                    -

                    <a href="{{ url_for(action_route, **obj_1_action_route_kwargs) }}">
                        {{ anchor_action_links }}</a>
                {% endif %}

            </p>
        {% endfor %}
        {% if sep_space %}<br>{% endif %}
        {% if sep_line %}
            <hr>{% endif %}
    </div>
{% endmacro %}