{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ url_for('static', filename='qr_codes/0a8edb8db75642f994af67380b0e3d13.png') }}" /></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.about %}<p>{{ user.about }}</p>{% endif %}
            </td>
        </tr>
    </table>

    <hr>

    <h3> Admins </h3>
    {% include '_info_my_admins.html' %}
{#    <p>#}
{#        <a href="{{ url_for('create_group_client_places_view',#}
{#        company_slug_to_id=company.slug,#}
{#        next=request.path) }}">Create new group client places</a> in {{ company.name }}#}
{#    </p>#}

    <h3> Employees </h3>
    {% include '_info_my_employees.html' %}

    <h3> Clients </h3>
    {% include '_info_my_clients.html' %}

{% endblock %}