{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td>
                <img src="{{ url_for('static', filename='qr_codes/0a8edb8db75642f994af67380b0e3d13.png') }}" />
            </td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.about %}<p>{{ user.about }}</p>{% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{  url_for('edit_user') }}">Edit</a>
            </td>
            <td>
                <a href="{{  url_for('remove_user', next=request.path) }}">Delete</a>
            </td>
        </tr>
    </table>

    <hr>

    <h3> Admins </h3>
    {% include '_info_my_admins.html' %}
    <p>
        <a href="{{ url_for('create_corporation_view',
        next=request.path) }}">Create new corporation</a>
    </p>

    <h4> Admins pending acceptance </h4>
    {% include '_my_admins_pending.html' %}

        <hr>

    <h3> Employees </h3>
    {% include '_info_my_employees.html' %}

    <h4> Employees pending acceptance </h4>
    {% include '_my_employees_pending.html' %}

        <hr>


    <h3> Clients </h3>
    {% include '_info_my_clients.html' %}

{% endblock %}